@import url('https://fonts.googleapis.com/css?family=Muli:400,400i,700&display=swap');

.welcome-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  background: radial-gradient(rgb(113, 156, 211), rgb(58, 72, 95));
  color: rgb(223, 247, 255);
  min-height: 100vh;
  font-family: 'Muli', sans-serif;
}

.welcome-content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column nowrap;
  background-color: rgba(97, 93, 108, 0.35);
  padding: 60px 120px;
  border: 1px double black;
}

.logo {
  width: 120px;
}

h1 {
  font-size: 80px;
  font-weight: 700;
  text-shadow: 0 0 1px black;
  margin-bottom: 20px;
}

.welcome-content > p {
  width: 420px;
  text-align: center;
  font-size: 18px;
}

#start-btn {
  text-decoration: none;
  color: white;
  background-color: #CAE5FF;
  font-size: 20px;
  font-weight: 600;
  padding: 10px 20px;
  margin-top: 30px;
  color: #615D6C;
  transition: all .2s;
}

#start-btn:hover {
  transform: scale(1.05);
  background-color: rgb(182, 220, 255);
}